@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
}

.product-picture {
    float: left;
    height: 130px;
    margin-right: 10px;
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	padding: 1em;
}

#score {
	font-size: 20px;
}

.pointer {
	cursor: pointer;
}

h3 {
	margin-top: 0;
}
